<div class="gqq-sheet gqq-sheet--character {{cssClass}}">
    <form class="sheet__body character" autocomplete="off">
        <nav class="tabs__nav character__nav" data-group="primary">
            <div class="sheet__logo">
                <span>Quête</span>
                <span>Rapide</span>
                <span>{{localize 'sheet.character.actorType' type=actor.data.type}}</span>
            </div>
            <div class="navigation">
                <a class="item active" data-tab="aspects">{{localize 'sheet.character.nav.aspects'}}</a>
                <a class="item" data-tab="skills">{{localize 'sheet.character.nav.skills'}}</a>
                <a class="item" data-tab="perks">{{localize 'sheet.character.nav.perks'}}</a>
                <a class="item" data-tab="resources">{{localize 'sheet.character.nav.resources'}}</a>
                <a class="item" data-tab="journal">{{localize 'sheet.character.nav.journal'}}</a>
            </div>
            <button type="button" class="character-action--roll"><i class="fas fa-dice-d20"></i><span>Roll</span></button>
        </nav>
        <header class="character__header">
            <div class="character__name">
                <div class="field field--input">
                    <label for="name">{{localize 'common.name'}}</label>
                    <input name="name" type="text" value="{{actor.name}}" title="{{actor.name}}"/>
                </div>
            </div>
            <div class="character__inspiration">
                <div class="field field--input">
                    <label for="data.inspiration">{{localize 'common.inspiration'}}</label>
                    <input name="data.inspiration" type="number" max="3" min="0" value="{{data.data.inspiration}}" title="{{data.inspiration}}"/>
                </div>
            </div>
            <div class="character__ancestry">
                <div class="field field--input">
                    <label for="data.ancestry">{{localize 'common.ancestry'}}</label>
                    <input name="data.ancestry" type="text" value="{{data.data.ancestry}}" title="{{data.ancestry}}"/>
                </div>
            </div>
            <div class="character__calling">
                <div class="field field--input">
                    <label for="data.calling">{{localize 'common.calling'}}</label>
                    <input name="data.calling" type="text" value="{{data.data.calling}}" title="{{data.calling}}"/>
                </div>
            </div>
            <div class="character__size">
                <div class="field field--input">
                    <label for="data.size">{{localize 'common.size'}}</label>
                    <select name="data.size">
                        {{#select data.data.size}}
                            <option value="tiny">{{localize 'common.sizes.tiny'}}</option>
                            <option value="small">{{localize 'common.sizes.small'}}</option>
                            <option value="medium">{{localize 'common.sizes.medium'}}</option>
                            <option value="large">{{localize 'common.sizes.large'}}</option>
                            <option value="huge">{{localize 'common.sizes.huge'}}</option>
                            <option value="gargantuan">{{localize 'common.sizes.gargantuan'}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="character__species">
                <div class="field field--input">
                    <label for="data.species">{{localize 'common.species'}}</label>
                    <select name="data.species">
                        {{#select data.data.species}}
                            <option value="arachnid">{{localize 'common.speciesType.arachnid'}}</option>
                            <option value="tailed-arachnid">{{localize 'common.speciesType.tailedArachnid'}}</option>
                            <option value="tailed-biped">{{localize 'common.speciesType.tailedBiped'}}</option>
                            <option value="winged-biped">{{localize 'common.speciesType.wingedBiped'}}</option>
                            <option value="centaurid">{{localize 'common.speciesType.centaurid'}}</option>
                            <option value="aquatic-creature">{{localize 'common.speciesType.aquaticCreature'}}</option>
                            <option value="draconic">{{localize 'common.speciesType.draconic'}}</option>
                            <option value="humanoid">{{localize 'common.speciesType.humanoid'}}</option>
                            <option value="insectoid">{{localize 'common.speciesType.insectoid'}}</option>
                            <option value="winged-insectoid">{{localize 'common.speciesType.wingedInsectoid'}}</option>
                            <option value="pachyderm">{{localize 'common.speciesType.pachyderm'}}</option>
                            <option value="tailed-quadruped">{{localize 'common.speciesType.tailedQuadruped'}}</option>
                            <option value="winged-quadruped">{{localize 'common.speciesType.wingedQuadruped'}}</option>
                            <option value="serpentine">{{localize 'common.speciesType.serpentine'}}</option>
                        {{/select}}
                    </select>
                </div>
            </div>
        </header>
        <div class="tabs__body character__body">
            <div class="tab tab--aspects" data-group="primary" data-tab="aspects">
                <div class="attributes character__attributes">
                    <header class="attributes__header">{{localize 'common.attributes'}}</header>
                    <section class="attributes__body">
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="str"
                            icon="muscle-up"
                            base=data.data.attributes.str.base
                            sources=data.data.attributes.str.sources
                            class=data.data.attributes.str.class
                            total=data.data.attributes.str.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="dex"
                            icon="bullseye"
                            base=data.data.attributes.dex.base
                            sources=data.data.attributes.dex.sources
                            class=data.data.attributes.dex.class
                            total=data.data.attributes.dex.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="con"
                            icon="heart-beats"
                            base=data.data.attributes.con.base
                            sources=data.data.attributes.con.sources
                            class=data.data.attributes.con.class
                            total=data.data.attributes.con.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="int"
                            icon="brain"
                            base=data.data.attributes.int.base
                            sources=data.data.attributes.int.sources
                            class=data.data.attributes.int.class
                            total=data.data.attributes.int.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="wis"
                            icon="light-bulb"
                            base=data.data.attributes.wis.base
                            sources=data.data.attributes.wis.sources
                            class=data.data.attributes.wis.class
                            total=data.data.attributes.wis.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-attribute.html"
                            code="cha"
                            icon="drama-masks"
                            base=data.data.attributes.cha.base
                            sources=data.data.attributes.cha.sources
                            class=data.data.attributes.cha.class
                            total=data.data.attributes.cha.total
                        }}
                    </section>
                </div>
                <div class="attributes character__archetypes">
                    <header class="attributes__header">{{localize 'common.archetypes'}}</header>
                    <section class="attributes__body">
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="fig"
                            icon="sharp-axe"
                            base=data.data.archetypes.fig.base
                            sources=data.data.archetypes.fig.sources
                            class=data.data.archetypes.fig.class
                            total=data.data.archetypes.fig.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="rog"
                            icon="lockpicks"
                            base=data.data.archetypes.rog.base
                            sources=data.data.archetypes.rog.sources
                            class=data.data.archetypes.rog.class
                            total=data.data.archetypes.rog.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="exp"
                            icon="treasure-map"
                            base=data.data.archetypes.exp.base
                            sources=data.data.archetypes.exp.sources
                            class=data.data.archetypes.exp.class
                            total=data.data.archetypes.exp.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="sag"
                            icon="book-cover"
                            base=data.data.archetypes.sag.base
                            sources=data.data.archetypes.sag.sources
                            class=data.data.archetypes.sag.class
                            total=data.data.archetypes.sag.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="art"
                            icon="paint-brush"
                            base=data.data.archetypes.art.base
                            sources=data.data.archetypes.art.sources
                            class=data.data.archetypes.art.class
                            total=data.data.archetypes.art.total
                        }}
                        {{> "systems/lvdd-quete-rapide/templates/partials/character-archetype.html"
                            code="dip"
                            icon="conversation"
                            base=data.data.archetypes.dip.base
                            sources=data.data.archetypes.dip.sources
                            class=data.data.archetypes.dip.class
                            total=data.data.archetypes.dip.total
                        }}
                    </section>
                </div>
                <div class="fieldset character__resolve">
                    <header class="fieldset__header">{{localize 'common.res.name'}}</header>
                    <section class="fieldset__body">
                        <div class="resolve__used">
                            <input name="data.resolve.value" type="number" value="{{data.data.resolve.value}}" min="0" max="{{data.data.resolve.max}}">
                            <span>{{localize 'common.current'}}</span>
                        </div>
                        <div class="resolve__maximum">
                            <input name="data.resolve.base" type="number" value="{{data.data.resolve.base}}" title="{{#each data.data.resolve.sources as | source id |}}{{localize 'sheet.character.source' value=source.value source=source.source}}{{#unless @last}},&#010;{{/unless}}{{/each}}">
                            <span class="resolve__total resolve__total--{{data.data.resolve.class}}">{{data.data.resolve.max}}</span>
                            <span>{{localize 'common.maximum'}}</span>
                        </div>
                        <div class="resolve__temp">
                            <input name="data.resolve.temp" type="number" value="{{data.data.resolve.temp}}" min="0">
                            <span>{{localize 'common.temp'}}</span>
                        </div>
                        <div class="resolve__tempmax">
                            <input name="data.resolve.tempmax" type="number" value="{{data.data.resolve.tempmax}}">
                            <span>{{localize 'common.tempmax'}}</span>
                        </div>
                    </section>
                </div>
                <div class="fieldset character__appearance">
                    <header class="fieldset__header">
                        <label><span>{{localize 'sheet.character.appearance.title'}}</span></label>
                    </header>
                    <section class="fieldset__body">
                        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
                    </section>
                </div>
            </div>
            <div class="tab tab--skills" data-group="primary" data-tab="skills">
                <div class="fieldset fieldset--items character__skills">
                    <section class="fieldset__body">
                        <table>
                            <thead>
                                <th></th>
                                <th class="item__action--order-by-name">{{localize 'common.skill'}}</th>
                                <th>{{localize 'common.modifiers'}}</th>
                                <th>{{localize 'common.actions'}}</th>
                            </thead>
                            <tbody class="items skills item-list">
                                {{#if data.data.skills.items.length}}
                                    {{#each data.data.skills.items as | item id |}}
                                        <tr class="item item--rarity--{{item.data.data.rarity}} {{#if item.data.data.isHidden}}item--hidden{{/if}} skill" data-item-id="{{item.id}}">
                                            <td class="item__icon">
                                                <img src="{{item.img}}"/>
                                            </td>
                                            <td class="item__title">
                                                <input data-field="name" type="text" value="{{item.name}}" title="{{item.name}}"/>
                                            </td>
                                            <td class="skill__modifiers" title="{{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}">
                                                {{#each item.data.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}
                                            </td>
                                            <td class="item__actions">
                                                {{#if item.data.data.canBeRolled }}
                                                    {{#if item.data.data.rollStats.length }}
                                                        <button type="button" class="item__action item__action--roll" title="{{localize 'common.roll'}}">
                                                            <i class="fas fa-dice"></i>
                                                        </button>
                                                    {{/if}}
                                                {{/if}}
                                                <button type="button" class="item__action item__action--open" title="{{localize 'sheet.character.items.actions.inspect'}}">
                                                    <i class="fas fa-book-open"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--delete" title="{{localize 'sheet.character.items.actions.delete'}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <tr class="empty">
                                        <td colspan="7">{{localize 'sheet.character.skills.empty'}}</td>
                                    </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </section>
                    <footer class="fieldset__footer fieldset--items__controls">
                        <div class="fieldset--items__details">
                            <div class="skills__count" title="{{localize 'common.counter.skills' count=data.data.skills.totalVisible}} {{#if data.data.skills.totalHidden}}({{localize 'common.counter.hidden' count=data.data.skills.totalHidden}}){{/if}}">
                                <i class="fa fa-list"></i>{{data.data.skills.totalVisible}}
                            </div>
                        </div>
                        <button type="button" class="item__action item__action--add" title="{{localize 'sheet.character.skills.actions.add'}}">
                            <i class="fas fa-plus-circle"></i> {{localize 'sheet.character.skills.actions.add'}}
                        </button>
                    </footer>
                </div>
            </div>
            <div class="tab tab--perks" data-group="primary" data-tab="perks">
                <div class="fieldset fieldset--items character__perks">
                    <section class="fieldset__body">
                        <table>
                            <thead>
                                <th></th>
                                <th class="item__action--order-by-name">{{localize 'common.perk'}}</th>
                                <th>{{localize 'common.modifiers'}}</th>
                                <th>{{localize 'common.actions'}}</th>
                            </thead>
                            <tbody class="items perks item-list">
                                {{#if data.data.perks.items.length}}
                                    {{#each data.data.perks.items as | item id |}}
                                        <tr class="item item--rarity--{{item.data.data.rarity}} {{#if item.data.data.isHidden}}item--hidden{{/if}} perk" data-item-id="{{item.id}}">
                                            <td class="item__icon">
                                                <img src="{{item.img}}"/>
                                            </td>
                                            <td class="item__title">
                                                <input data-field="name" type="text" value="{{item.name}}" title="{{item.name}}"/>
                                            </td>
                                            <td class="perk__modifiers" title="{{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}">
                                                {{#each item.data.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}
                                            </td>
                                            <td class="item__actions">
                                                <button type="button" class="item__action item__action--open" title="{{localize 'sheet.character.items.actions.inspect'}}">
                                                    <i class="fas fa-book-open"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--delete" title="{{localize 'sheet.character.items.actions.delete'}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <tr class="empty">
                                        <td colspan="7">{{localize 'sheet.character.perks.empty'}}</td>
                                    </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </section>
                    <footer class="fieldset__footer fieldset--items__controls">
                        <div class="fieldset--items__details">
                            <div class="perks__count" title="{{localize 'common.counter.perks' count=data.data.perks.totalVisible}} {{#if data.data.perks.totalHidden}}({{localize 'common.counter.hidden' count=data.data.perks.totalHidden}}){{/if}}">
                                <i class="fa fa-list"></i>{{data.data.perks.totalVisible}}
                            </div>
                        </div>
                        <button type="button" class="item__action item__action--add" title="{{localize 'sheet.character.perks.actions.add'}}">
                            <i class="fas fa-plus-circle"></i> {{localize 'sheet.character.perks.actions.add'}}
                        </button>
                    </footer>
                </div>
            </div>
            <div class="tab tab--resources" data-group="primary" data-tab="resources">
                <div class="fieldset fieldset--items character__resources">
                    <section class="fieldset__body">
                        <table>
                            <thead>
                                <th></th>
                                <th class="item__action--order-by-name">{{localize 'common.resource'}}</th>
                                <th>{{localize 'common.bulk'}}</th>
                                <th>{{localize 'common.value'}}</th>
                                <th>{{localize 'common.charges'}}</th>
                                <th>{{localize 'common.equip'}}</th>
                                <th>{{localize 'common.modifiers'}}</th>
                                <th>{{localize 'common.actions'}}</th>
                            </thead>
                            <tbody class="items resources item-list">
                                {{#if data.data.resources.items.length}}
                                    {{#each data.data.resources.items as | item id |}}
                                        <tr class="item item--rarity--{{item.data.data.rarity}} {{#if item.data.data.isHidden}}item--hidden{{/if}} resource" data-item-id="{{item.id}}">
                                            <td class="item__icon">
                                                <img src="{{item.img}}"/>
                                            </td>
                                            <td class="item__title">
                                                <input data-field="name" type="text" value="{{item.name}}" title="{{item.name}}"/>
                                            </td>
                                            <td class="resource__bulk">
                                                {{#if item.data.data.canHaveBulk}}
                                                    <input data-field="data.bulk" type="number" value="{{item.data.data.bulk}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__value">
                                                {{#if item.data.data.canHaveValue}}
                                                    <input data-field="data.value" type="number" value="{{item.data.data.value}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__charges">
                                                {{#if item.data.data.canHaveCharges}}
                                                    <input data-field="data.charges" type="number" value="{{item.data.data.charges}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__equipped">
                                                {{#if item.data.data.canBeEquipped}}
                                                    <button type="button" class="item__action resource__action--toggle-equipped {{#if item.data.data.isEquipped}}equipped{{/if}}" title="{{localize 'sheet.character.resources.actions.toggle.equipped'}}">
                                                        <i class="fas fa-shield-alt"></i>
                                                    </button>
                                                {{/if}}
                                            </td>
                                            <td class="resource__modifiers" title="{{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}">
                                                {{#each item.data.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}{{#unless @last}}, {{/unless}}{{/each}}
                                            </td>
                                            <td class="item__actions">
                                                {{#if item.data.data.canBeRolled }}
                                                    {{#if item.data.data.rollStats.length }}
                                                    <button type="button" class="item__action item__action--roll" title="{{localize 'common.roll'}}">
                                                        <i class="fas fa-dice"></i>
                                                    </button>
                                                    {{/if}}
                                                {{/if}}
                                                <button type="button" class="item__action item__action--open" title="{{localize 'sheet.character.items.actions.inspect'}}">
                                                    <i class="fas fa-book-open"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--delete" title="{{localize 'sheet.character.items.actions.delete'}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <tr class="empty">
                                        <td colspan="7">{{localize 'sheet.character.resources.empty'}}</td>
                                    </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </section>
                    <footer class="fieldset__footer fieldset--items__controls">
                        <div class="fieldset--items__details">
                            <div class="resources__value" title="{{localize 'common.counter.gold' count=data.data.currency.gold}}">
                                <i class="fa fa-coins" style="color: #fdd426;"></i>
                                <input name="data.currency.gold" type="number" min="0" value="{{data.data.currency.gold}}" title="{{data.currency.gold}}"/>
                            </div>
                            <div class="resources__value" title="{{localize 'common.counter.silver' count=data.data.currency.silver}}">
                                <i class="fa fa-coins" style="color: #e4eafb;"></i>
                                <input name="data.currency.silver" type="number" min="0" value="{{data.data.currency.silver}}" title="{{data.currency.silver}}"/>
                            </div>
                            <div class="resources__value" title="{{localize 'common.counter.copper' count=data.data.currency.copper}}">
                                <i class="fa fa-coins" style="color: #f58644;"></i>
                                <input name="data.currency.copper" type="number" min="0" value="{{data.data.currency.copper}}" title="{{data.currency.copper}}"/>
                            </div>
                            <div class="resources__bulk text-{{data.data.resources.maxBulkClass}}" title="{{localize 'common.counter.bulk' count=data.data.resources.totalBulk}}">
                                <i class="fa fa-weight-hanging icon-{{data.data.resources.maxBulkClass}}"></i>{{data.data.resources.totalBulk}} / {{data.data.resources.maxBulk}}
                            </div>
                        </div>
                        <button type="button" class="item__action item__action--add" title="{{localize 'sheet.character.resources.actions.add'}}">
                            <i class="fas fa-plus-circle"></i> {{localize 'sheet.character.resources.actions.add'}}
                        </button>
                    </footer>
                </div>
            </div>
            <div class="tab tab--journal" data-group="primary" data-tab="journal">
                <div class="fieldset fieldset--items character__journal">
                    <h2>Journal</h2>
                    <section class="fieldset__body" style="font-family: 'Source Sans Pro';">
                            {{editor content=data.data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable rollData=rollData}}
                    </section>
                </div>
            </div>
        </div>
    </form>
    <div class="sheet__footer">
        <div class="sheet__id">
            <span class="id">{{actor.id}}</span>
            <span class="name">Quête Rapide</span>
        </div>
    </div>
</div>
