<div class="gqq-card gqq-card--rarity--{{data.data.rarity}} gqq-card--skill {{cssClass}}">
    <form class="card__body" autocomplete="off">
        <div class="card__title" title="{{item.name}}">{{item.name}}</div>
        <div class="card__rarity" title="{{localize (concat 'common.rarities.' data.rarity)}}">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="card__tabs__body skill__body">
            <div class="card__tab skill__tab--front" data-group="primary" data-tab="front">
                <div class="card__image">
                    <img src="{{item.img}}" data-edit="img"/>
                </div>
                <div class="card__tags" title="{{#each data.data.tags as | tag id |}}{{tag}}{{#unless @last}}, {{/unless}}{{/each}}">
                    {{#if data.data.tags}}
                        {{#each data.data.tags as | tag id |}}
                            <span class="card__tag">{{tag}}</span>
                        {{/each}}
                    {{else}}
                        &nbsp;
                    {{/if}}
                </div>
                <div class="card__details">
                    {{#if data.data.modifiers.length}}
                        <div class="skill__modifiers">
                            {{#each data.data.modifiers as | modifier id |}}
                                <span class="skill__modifier">
                                    {{numberFormat modifier.value decimals=0 sign=true}} {{modifier.name}}
                                </span>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="skill__blurb">
                        <div class="skill__blurb__text">{{{data.data.descriptions.primary.main}}}</div>
                        {{#if data.data.descriptions.primary.flavor}}
                            <div class="skill__blurb__flavor">{{{data.data.descriptions.primary.flavor}}}</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if data.data.descriptions.secondary.main}}
                <div class="card__tab skill__tab--back" data-group="primary" data-tab="back">
                    <div class="skill__back">
                        <div class="skill__blurb">
                            <div class="skill__blurb__text">
                                {{{data.data.descriptions.secondary.main}}}
                            </div>
                            {{#if data.data.descriptions.secondary.flavor}}
                                <div class="skill__blurb__flavor">{{{data.data.descriptions.secondary.flavor}}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="card__type">{{localize 'common.skill'}}</div>
    </form>
    <div class="card__footer">
        <div class="card__id">
            <span class="id">{{item.id}}</span>
            <span class="name">Quête Rapide</span>
        </div>
        <nav class="card__tabs__nav" data-group="primary">
            <button type="button" class="active" data-tab="front">{{localize 'sheet.item.nav.front'}}</button>
            {{#if data.data.descriptions.secondary.main}}
                <button type="button" data-tab="back">{{localize 'sheet.item.nav.back'}}</button>
            {{/if}}
            <button type="button" data-action="edit"><i class="fas fa-edit"></i></button>
        </nav>
    </div>
</div>
